body {
    font-family: Arial, sans-serif;
    background-color: rgba(104, 94, 241, 0.699);
    color: #ddd;
    margin: 0;
    padding: 20px;
    border: #207df7c0 10px solid;
    border-radius: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    color: #ddd;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header p {
    color: #ccc;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    max-width: 400px;
    margin: 0 auto;
    background-color: #a0a0a0;
    padding: 20px;
    border: 2px solid rgb(126, 126, 126);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgb(126, 126, 126) 2px 2px 4px 0px;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="submit"] {
    width: 50%;
    align-self: center;
    background-color: #333;
    color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 12px;
}

input[type="submit"]:hover {
    background-color: #585858;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer button {
    background-color: rgb(190, 190, 190);
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
}

footer button:hover {
    background-color: rgb(170, 170, 170);
}

footer button a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-decoration: none;
}

footer p {
    color: #888888;
    font-size: 14px;
    margin-top: 20px;
}

.copy {
    display: block;
    color: #888888;
    font-size: 14px;
    margin-top: 20px;
}