header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    background-color: #f1f2f4;
    color: #393A3C;
    gap: 20px;
    padding: 20px;
}

.logo {
    width: 200px;
    height: auto;
}

.nombreEmpresa {
    color: #2591d1;
    font-size: 36px;
    font-family: poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

header .menu {
    display: flex;
    gap: 20px;
    justify-content: center;
}

header .servicios {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white ;
    border: darkgray 5px  ;
    border-radius: 10px;
    margin: auto;
    font-size: 14px;
    font-family: none  ;
    
}

header .formulario {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    border: darkgray 5px ;
    border-radius: 10px;
    margin:auto;
    font-size: 14px;
    font-family: none;

}
header .inicio{
    color: black;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    border: darkgray 5px ;
    border-radius: 10px;
    margin: auto;
    font-family: none ;
    font-size: 14px;
    border-bottom: 3px solid #2591d1;
    padding-bottom: 4px;
}

.formulario:hover, .servicios:hover {
    background-color: lightgray;
    color: black;
    border-color: lightgray;
    box-shadow: 0 0 10px lightgray;
    cursor: pointer;
}

header .inicio:hover {
    background-color: lightgray;
    color: black;
    border-color: lightgray;
    box-shadow: 0 0 10px lightgray;
    cursor: pointer;
    border-bottom: 3px solid #124766;
}

body {
    background-color: #f1f2f4;
    color: #393A3C;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0px;
}

main {
    margin: 20px auto;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

.portada {
    background: linear-gradient(to bottom, #2591d1, #124766);
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: right;
}

.portada h3 {
    margin: 0;
    padding: 20px;
}

.carrusel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 2.5rem;
    margin-top: 0;
    gap: 20px;
}

.tarjeta {
    background-color: #124766;
    color: silver;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.tarjeta1 {
    grid-column: span 1;
}

.tarjeta2 {
    grid-column: span 0.5;
    grid-row: span 0.5;
}

.tarjeta3 {
    grid-column: span 0.5;
    grid-row: span 0.5;
}

/*.tarjeta4 {
    grid-column: span 2;
    grid-row: span 1;
}

.tarjeta5 {
    grid-column: span 2;
    grid-row: span 1;
}

.tarjeta6 {
    grid-column: span 1;
    grid-row: span 1;
}

.tarjeta7 {
    grid-column: span 1;
    grid-row: span 2;
}

.tarjeta8 {
    grid-column: span 1;
    grid-row: span 2;
}

.tarjeta9 {
    grid-column: span 1;
    grid-row: span 1;
} */

.tarjeta img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
    display: block;
    margin: 0 auto 30px;
}

.tarjeta .info p {
    margin: 5px 0;
    font-size: 14px;
}

.flota {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    object-fit: contain;
}

.flota:hover {
    transform: translateY(-5px);
    border-color: lightgray;
    box-shadow: 0 0 10px lightgray;
    cursor: pointer;
}

/* .botones_carrusel {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
} */

footer {
    padding: 20px;
    margin: 20px;
}

button {
    background-color: darkgrey;
    color: black;
    padding: 8px 12px;
    border-radius: 120px;
    border-color: whitesmoke;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

footer .redes-sociales {
    align-items: center;
}

footer .redes-sociales img {
    margin-right: 5px;
}

footer .redes-sociales a {
    margin-right: 20px;
    font-size: 20px;
}